# Puerto de escucha del servidor NestJS
PORT=3000

# URL de pooler en modo transacción (puerto 6543) para el runtime de Prisma Client
DATABASE_URL="postgresql://postgres.[PROYECTO_REF]:[PASSWORD]@aws-1-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# URL de pooler en modo sesión (puerto 5432) para las migraciones (evita problemas de IPv6/ISP)
DIRECT_URL="postgresql://postgres.[PROYECTO_REF]:[PASSWORD]@aws-1-us-west-2.pooler.supabase.com:5432/postgres"
